@model StudentCreateViewModel
@inject IStudentRepository _studentRepository

@{
    ViewBag.Title = "建立學生資料";
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post" class="mt-3">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="input-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="請輸入名字" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="input-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="請輸入E-mail" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="input-group row">
        <label asp-for="ClassName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="ClassName" asp-items="Html.GetEnumSelectList<ClassNameEnum>()" class="form-select mr-sm-2">
                <option value="">請選擇</option>
            </select>
            <span asp-validation-for="ClassName" class="text-danger"></span>
        </div>
    </div>

    <div class="input-group row">
        <label asp-for="Avatars" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Avatars" multiple class="form-control custom-file-input" />
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-primary" type="submit">建立</button>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            學生訊息總人數： @_studentRepository.GetAllStudents().Count().ToString()
        </div>
    </div>
</form>