@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "異常錯誤頁面";
}


<h3>程式請求時，發生了一個內部錯誤，我們會反饋給開發團隊，盡快解決這個問題。</h3>

<h5>請透過 admin@example.com 與我們取得聯繫</h5>

@*<hr />

<h3>錯誤詳情：</h3>

<div class="alert alert-danger">
    <h5>異常路徑：</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class="alert alert-danger">
    <h5>異常內容：</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h5>異常堆棧跟蹤：</h5>
    <hr />
    <p>@ViewBag.ExceptionStackTrace</p>
</div>*@